body{
    background-color: rgb(253, 253, 253);
}
div{
    background-color: rgb(252, 252, 252);
}
p{
    color: rgb(255, 251, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table{
    text-align: center;
    background-color: rgb(255, 255, 255);
}
#botao{
    background-color: rgb(50, 248, 10);
    transition: 0.5s;
}
#botao:hover{
    background-color: rgb(238, 241, 243);
    cursor: pointer;
}